.landing-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #65c7ff, #b790ff);
  padding: 0;
  margin: 0;
}

.landing-text {
  flex: 1;
  color: rgb(0, 0, 0);
  max-width: 600px;
  padding-left: 75px;
  
}

.landing-text h1 {
  font-size: 4rem;
  margin-bottom: 5px;
  white-space: nowrap; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.sub-title h1 {
  font-size: 3rem;      
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.landing-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.landing-img {
  width: 1000px;
  height: auto;
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.join-btn {
  background-color: #d636fe;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-left: 250px;
  box-shadow: #000000 0px 4px 6px -1px, #000000 0px 2px 4px -1px;
}

.join-btn:hover {
  background-color: #9e27a0;
  color: #fff;
  transform: scale(1.05);
  
}



/* Navbar CSS  */

.top-container {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.664);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 135px;
  height: auto;
}

.logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: rgb(14, 56, 148);
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* navigation links */
.nav-links {
  display: flex;
  gap: 50px;
  padding-right: 90px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
  color: #112f88;
  transform: scale(1.1);
}




